{% extends 'admin/change_form.html' %}
{% block extrahead %}
    <script type="text/javascript">
//        Removed  block.super since it was repeating things that grapelli adds in another part
        (function ($) {
            $(document).ready(function () {
                $(document.body).on("click", '.add-another', function (e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        })
                        .on("click", '.related-lookup', function (e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                {% if adminform and add %}
                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                {% endif %}
            });
        })(grp.jQuery);
    </script>
{% endblock %}
